<template>
    <div class="container-sign-up-page">
        <div class="container-sign-up">
            <p class="title">Sign Up</p>
            <FormulateForm v-model="formValues" @submit="handleSubmit">
                <FormulateInput name='username' label='Username' label-class="input-label" validation="required" />
                <FormulateInput type='email' name='email' label='Email' label-class="input-label" validation="required|email" />
                <FormulateInput type='password' name='password' label='Password' label-class="input-label" validation="required" />
                <FormulateInput type='submit' input-class="btn-submit" label='Sign Up' />
            </FormulateForm>
        </div>
    </div>
</template>
 
<script>
import { registerUser } from './service'
export default {
    name: 'SignUp',
    data () {
        return {
            formValues: {}
        }
    },
    methods: {
        handleSubmit() {
            registerUser(this.formValues)
                .then((data) => {
                    if (data.id) {
                        this.$router.push({ name: 'signIn' })
                    }
                })
        }
    }
}
</script>

<style scoped>
    .container-sign-up-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
    }

    .container-sign-up {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 35px;
        width: 600px;
        max-width: 100vw;
        padding: 3% 8%;
        margin: 40px 8px;
        box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.25);
    }

    .title {
        margin-bottom: 25px;
        font-size: 22px;
    }
 </style>