<template>
    <div class="container-language">
        <img :src="img" alt="img-language">
        <div>
            <p class="text description">{{ description }}</p>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Language',
    props: ['img', 'description']
}
</script>

<style scoped>
    .container-language {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-between;
    }

    img {
        height: 100px;
    }

    .description {
        margin-top: 40px;
        font-weight: 400;
    }
</style>