<template>
    <div class="container">
        <div class="top-info">
            <div class="top-info-left">
                <div>
                    <p class="title-white">
                        Code with your friends on multiple technology
                    </p>
                </div>
                <div>
                    <p class="text-light">
                        WebSandBox is an online IDE, simple to use, that allow
                        users to code at the same time to learn / develop simple
                        app togethers.
                        Multiple language are supported and more a coming !
                    </p>
                </div>
                <button class="btn">Try it for free</button>
            </div>
            <div class="preview-img"></div>
        </div>
        <div class="middle-info">
            <div>
                <p class="title main-title">
                    Main features
                </p>
            </div>
            <div>
                <p class="text description">
                    WebSandBox is a powerfull application that allow users to create coding projects in differents languages
                    in real time with your friends. It’s very usefull if you have to share, develop, etc, your code within a
                    group. WebSandBox was initialy designed for students. 
                </p>
            </div>
            <div class="row-language">
                <Language 
                    :img="imgHtml"
                    description="
                        HTML 5 is available for free.
                        Html is a standart markup language for documents designed to be displayed in a web browser.
                        HTML describe the structure of a web page sementically."
                />
                <Language 
                    :img="imgCss"
                    description="
                        HTML 5 is available for free.
                        Html is a standart markup language for documents designed to be displayed in a web browser.
                        HTML describe the structure of a web page sementically."
                />
                <Language 
                    :img="imgJs"
                    description="
                        HTML 5 is available for free.
                        Html is a standart markup language for documents designed to be displayed in a web browser.
                        HTML describe the structure of a web page sementically."
                />
            </div>
            <div class="row-language">
                <Language 
                    :img="imgHtml"
                    description="
                        HTML 5 is available for free.
                        Html is a standart markup language for documents designed to be displayed in a web browser.
                        HTML describe the structure of a web page sementically."
                />
                <Language 
                    :img="imgCss"
                    description="
                        HTML 5 is available for free.
                        Html is a standart markup language for documents designed to be displayed in a web browser.
                        HTML describe the structure of a web page sementically."
                />
                <Language 
                    :img="imgJs"
                    description="
                        HTML 5 is available for free.
                        Html is a standart markup language for documents designed to be displayed in a web browser.
                        HTML describe the structure of a web page sementically."
                />
            </div>
        </div>
    </div>
</template>

<script>
import Language from '../components/language/Language'

export default {
    components: { Language },
    name: 'Home',
    data() {
        return {
            imgHtml: require('../assets/images/img-html.png'),
            imgCss: require('../assets/images/img-css.png'),
            imgJs: require('../assets/images/img-js.png')
        }
    }
}
</script>

<style scoped>
    .container {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .top-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .top-info-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 350px;
        width: 100%;
        margin: 0 8% 0 8%;
    }

    .preview-img {
        width: 100%;
        height: 450px;
        background-image: url('https://code.visualstudio.com/assets/updates/1_37/icons.gif');
        background-size: cover;
        border-radius: 40px 0 0 40px;
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
    }

    .title-white {
        font-size: 32px;
        margin: 10px 0;
    }

    .btn {
        margin-top: 10px;
    }

    .middle-info {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 8%;
    }

    .main-title {
        font-size: 26px;
    }

    .description {
        font-weight: 400;
        padding: 0 12%;
        text-align: center;
    }

    .row-language {
        margin-top: 40px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .row-language div {
        padding: 0 3%;
    }
</style>