<template>
    <div class="container">
        <p class="title-white title-pricing">Pricing</p>
        <div class="prices">
            <Offer
                name="Sign Up"
                price="Free"
                description="Up to 5 projects with basic languages"
                :details="detailsStarter"
                :isFree="true"
            />
            <Offer
                name="Choose Advanced"
                price="5$ / month"
                description="Unlimited projects with all languages available"
                :details="detailsAdvanced"
                :isFree="false"
            />
        </div>
        <p class="title main-title">Compare features</p>
        <div class="compare-container">
            <div class="compare-left-side-container">
                <p class="text text-compare-pack-title">Number of projects</p>
                <p class="text text-compare-pack-title">Users in projects</p>
                <p class="text text-compare-pack-title">languages available</p>
            </div>
            <div class="compare-starter-container">
                <p class="title title-compare">Starter</p>
                <p class="text text-compare-pack">5</p>
                <p class="text text-compare-pack">5</p>
                <p class="text text-compare-pack">3</p>
            </div>
            <div class="compare-advanced-container">
                <p class="title title-compare">Advanced</p>
                <p class="text text-compare-pack">Unlimited</p>
                <p class="text text-compare-pack">15</p>
                <p class="text text-compare-pack">All available</p>
            </div>
        </div>
    </div>
</template>

<script>
import Offer from '../components/pricing/Offer'
export default {
    components: { Offer },
    name: "Pricing",
    data() {
        return {
            detailsStarter: ['5 projects', '5 users inside projects', '3 languages available'],
            detailsAdvanced: ['Unlimited projects', '15 users inside projects', 'All languages available']
        }
    }
}
</script>

<style scoped>
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
    }

    .title-pricing {
        font-size: 26px;
        margin: 12px 0 50px;
    }

    .prices {
        display: flex;
        align-items: stretch;
        justify-content: center;
        width: 100%;
    }

    .main-title {
        font-size: 26px;
        margin: 50px 0 40px;
    }

    .compare-container {
        display: flex;
        align-items: stretch;
        justify-content: center;
        width: 100%;
    }

    .compare-container div {
        margin: 0 10%;
    }

    .compare-container p {
        margin: 20px 0;
    }

    .compare-left-side-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
    }

    .compare-starter-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    .compare-advanced-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    .title-compare {
        font-size: 20px;
        font-weight: 500;
        color: var(--color-primary-pink);
    }

    .text-compare-pack-title {
        font-size: 20px;
        color: var(--color-primary-blue);
        font-weight: 400;
    }

    .text-compare-pack {
        font-size: 18px;
        color: var(--color-primary-blue);
        font-weight: 300;
        padding-bottom: 5px;
    }
</style>