<template>
    <div class="container-price">
        <div>
            <p class="title name">{{ name }}</p>
            <p class="title price">{{ price }}</p>
            <p class="text description">{{ description }}</p>
        </div>
        <div class="details">
            <p class="text detail" v-for="detail in details" :key="detail">
                {{ detail }}
            </p>
        </div>
        <div v-if="!isFree">
            <button @click="handleSubscription" class="btn">
                {{ name }}
            </button>
            <stripe-checkout
                ref="checkoutRef"
                mode="subscription"
                :line-items=lineItems
                :pk=pk
                @loading="v => loading = v"
            ></stripe-checkout>
        </div>
        <div v-else>
            <button @click="redirectToSignUp" class="btn">
                {{ name }}
            </button>
        </div>
    </div>
</template>

<script>
import { StripeCheckout } from '@vue-stripe/vue-stripe';

export default {
    name: 'Offer',
    components: { StripeCheckout },
    props: ['name', 'price', 'description', 'details', "isFree"],
    data () {
        return {
            lineItems: [
                {
                    price: process.env.VUE_APP_PRICE_ADVANCED,
                    quantity: 1,
                },
            ],
            pk:  process.env.VUE_APP_STRIPE_KEY
        }
    },
    methods: {
        handleSubscription() {
            this.$refs.checkoutRef.redirectToCheckout();
        },
        redirectToSignUp() {
            this.$router.push({ name: 'signUp' });
        }
    },
}
</script>

<style scoped>
    .container-price {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 2% 5%;
        margin: 0 2%;
        background-color: white;
        border-radius: 30px;
        max-width: 400px;
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
    }

    .container-price div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .container-price details {
        align-self: flex-start;
    }

    .name {
        font-size: 22px;
        margin: 12px 0;
    }

    .price {
        font-size: 18px;
        font-weight: 400;
        margin: 12px 0;
    }

    .description {
        font-size: 16px;
        margin: 12px 0 16px;
        font-weight: 500;
        align-self: flex-start;
        text-align: center;
    }

    .detail {
        font-size: 16px;
        font-weight: 300;
        color: var(--color-primary-blue);
        margin: 8px 0;
        align-self: flex-start;
    }

    .btn {
        margin: 16px 0 12px;
    }
</style>