<template>
    <div class="container-footer">
        <img :src="footerSvg" alt="footer" class="svg-footer">
        <div class="footer">
            <div class="about-us">
                <p class="title-white">About Us</p>
                <p class="text-light">
                    We are five students in a web development school located in Paris and with bring this project to you since we think it’s important to be able to easily share your work with your camarades.
                    <br><br>
                    Leila - Mederick - Aya - Florian - Yamina
                </p>
            </div>
            <div class="follow-us">
                <div class="contact-item">
                    <img :src="iconFb" alt="icon-fb" class="icons">
                    <p class="text-light">facebook.com/websandbox</p>
                </div>
                <div class="contact-item">
                    <img :src="iconTwitter" alt="icon-twitter" class="icons">
                    <p class="text-light">twitter.com/websandbox</p>
                </div>
                <div class="contact-item">
                    <img :src="iconInsta" alt="icon-insta" class="icons">
                    <p class="text-light">instagram.com/websandbox</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Footer',
    data() {
        return {
            footerSvg: require('../assets/svg/Footer.svg'),
            iconFb: require('../assets/images/icon-fb.png'),
            iconTwitter: require('../assets/images/icon-twitter.png'),
            iconInsta: require('../assets/images/icon-insta.svg')
        }
    }
}
</script>

<style scoped>
    .container-footer {
        margin-top: 20px;
        position: relative;
    }

    .svg-footer {
        width: 100%;
        height: 400px;
        z-index: -999;
    }

    .footer {
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 300px;
        padding: 0 15%;
    }

    .about-us, .follow-us {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .about-us {
        max-width: 400px;
    }

    .title-white {
        font-size: 20px;
    }

    .contact-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .icons {
        height: 35px;
        width: 35px;
        margin-right: 10px;
    }
</style>