<template>
    <div>
        <img :src="backgroundTop" alt="backgroungTop" class="backgroundTop">
        <div class="container-top">
            <div class="nav-bar">
                <div class="nav-bar-left">
                    <div class="nav-item-left">
                        <router-link :to="{name: 'home'}" class="title-white app-name">WebSandBox</router-link>
                    </div>
                    <div class="nav-item-left">
                        <p class="text-light nav-bar-text">Product</p>
                    </div>
                    <div class="nav-item-left">
                        <router-link :to="{name: 'pricing'}" class="text-light nav-bar-text">Pricing</router-link>
                    </div>
                    <div class="nav-item-left">
                        <p class="text-light nav-bar-text">FAQ</p>
                    </div>
                </div>
                <div v-if="!user.token" class="nav-bar-right">
                    <router-link :to="{name: 'signIn'}" class="nav-item-right text-light nav-bar-text">
                        Sign In
                    </router-link>
                    <router-link :to="{name: 'signUp'}" class="nav-item-right btn-action">
                        Sign Up
                    </router-link>
                </div>
                <div v-else class="nav-bar-right">
                    <p class="text-light nav-bar-text">Hello <b>{{ user.username }}</b> !</p>
                    <a :href="appUrl + '/?token=' + user.token" class="nav-item-right btn-action">
                        Go to app
                    </a>
                    <p @click="logout" class="text-light nav-bar-text logout">
                        Logout
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import store from '../config/store'
import Vuex from 'vuex'

export default {
    name: 'Header',
    store: store,
    computed: {
        ...Vuex.mapGetters(['user'])
    },
    methods: {
        ...Vuex.mapActions(['editUser']),
        logout() {
            localStorage.removeItem('user-token');
            const user = {
                token: ''
            }
            this.editUser(user);
        }
    },
    data() {
        return {
            appUrl: process.env.VUE_APP_APP_URL,
            backgroundTop: require('../assets/svg/BackgroundTop.svg')
        }
    }
}
</script>

<style scoped>
.router-link-active {
    color: white;
    text-decoration: none;
}

.container-top {
    position: absolute;
    top: 0;
    width: 100%;
}

.backgroundTop {
    position: relative;
    width: 100%;
    height: 600px;
    z-index: -999;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
}

.nav-bar-left, .nav-bar-right {
    display: flex;
    align-items: center;
}

.nav-bar-left {
    margin-left: 100px;
}

.nav-bar-right {
    margin-right: 100px;
}

.nav-item-left {
    margin-right: 40px
}

.nav-item-right {
    margin-left: 40px
}

.btn-action {
    padding: 10px 30px;
    font-size: 18px;
    background-color: var(--color-primary-pink);
    color: var(--color-light);
    text-decoration: none;
    border-radius: 40px;
    font-weight: 300;
	font-family: Roboto;
	cursor: pointer;
	outline: none;
}

.btn-action.router-link-active {
    color: white;
    font-weight: 700;
}

.nav-bar-text.router-link-active {
    color: var(--color-light);
    font-weight: 700;
}

.app-name {
    font-size: 24px;
    color: white;
}

.nav-bar-text {
    font-size: 18px;
    text-decoration: none;
    font-weight: 300;
}

.logout {
    cursor: pointer;
    margin-left:30px
}
</style>
